/fft/Win32/Debug/*.obj
/fft/Win32/Debug
/fft/__history
/fft/*.local
/fft/*.stat
/fft/*.vlb
/UnitTest/__history
/UnitTest/*.local
*.o
*.d
*.obj
/CodeRangeCppRESTSrv/Client/Win32/Debug
/CodeRangeCppRESTSrv/Client/__astcache/*.astcache
/CodeRangeCppRESTSrv/Client/__astcache
/CodeRangeCppRESTSrv/Client/__history
/CodeRangeCppRESTSrv/Server/Win32/Debug
/CodeRangeCppRESTSrv/Server/__history
